project_id = "epzjffdslivfhmetnkfa"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[functions.ai-teacher]
verify_jwt = true

[functions.text-to-speech]
verify_jwt = true

[functions.generate-image]
verify_jwt = true